@import "tailwindcss";

:root {
  --background: #212121;
  --foreground: #FEFCA5;
  --border: #FC3A3A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-gill-sans-mt: var(--font-gill-sans-mt);
  --font-norwester: var(--font-norwester);
}

@layer base {
  html {
    overflow-y: scroll;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
